.md-card-content .v-select .selected-tag {
    color: white;
    background-color: #444444;
    border: none;
    border-radius: 40px;
    height: 26px;
    margin: 4px 2px 0 3px;
    padding: 2px .5em;
    float: left;
    line-height: 24px;
    font-size: 1rem;
}

.input-item-whiteframe .v-select .dropdown-toggle {
    border: hidden;
}

.v-select .dropdown-menu {
    background-color: #303030 !important;
 }

/*.v-select li {*/
    /*color: #bfccbe !important;*/
/*}*/

.v-select .dropdown-menu > li > a {
    color: #e6f5ff !important;
    background: rgba(50, 50, 50, .1);
}

.v-select .dropdown-menu .active > a {
    color: #2c98f0 !important;
    background: rgba(50, 50, 50, .1);
}
.v-select .dropdown-menu > .highlight > a {
    background: #2c98f0 !important;
    color: #fff !important;
}