.md-card-content .v-select .selected-tag {
    color: #fff;
    background-color: #2196f3;
    border: none;
    border-radius: 40px;
    height: 26px;
    margin: 4px 2px 0 3px;
    padding: 2px .5em;
    float: left;
    line-height: 24px;
    font-size: 1rem;
}

.input-item-whiteframe .v-select .dropdown-toggle {
    border: hidden;
}